output "eDP-1" {
  scale 1
  position x=0 y=0
}
output "DP-2" {
  scale 1
  position x=1920 y=0
}
output "DP-3" {
  scale 1
  position x=3840 y=0
}
output "LG Electronics LG TV 0x01010101" {
  position x=0 y=-1080
}

workspace "󰈹" {
  open-on-output "DP-2"
}
workspace "" {
  open-on-output "DP-2"
}
workspace "" {
  open-on-output "DP-3"
}

binds {
    Mod+TouchpadScrollDown cooldown-ms=100 { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    Mod+TouchpadScrollUp cooldown-ms=100 { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05- -l 1.0"; }
}

input {
  touchpad {
      tap
      dwt
      drag-lock
      natural-scroll
      disabled-on-external-mouse
  }
}

