binds {
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "noctalia msg session lock"; }

    Mod+Down        { focus-window-or-workspace-down; }
    Mod+Up          { focus-window-or-workspace-up; }
    Mod+Ctrl+Down   { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up     { move-window-up-or-to-workspace-up; }
    Mod+J           { focus-window-or-workspace-down; }
    Mod+K           { focus-window-or-workspace-up; }
    Mod+Ctrl+J      { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K      { move-window-up-or-to-workspace-up; }

    Mod+Alt+F       { maximize-window-to-edges; }
    Mod+Alt+V       { toggle-window-floating; }

    Mod+V           hotkey-overlay-title="clipboard"    { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+Alt+Period  hotkey-overlay-title="Emoji+Glyphs" { spawn-sh "emoji=$(bemoji -en) && [[ -n $emoji ]] && wl-copy $emoji && wtype -M ctrl v -m ctrl"; }
    Alt+F4          hotkey-overlay-title="SessionMenu"  { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+D           hotkey-overlay-title="Launcher"     { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Tab         hotkey-overlay-title="Windows"      { spawn-sh "noctalia msg panel-toggle launcher /win"; }

    Mod+N hotkey-overlay-title="Noctalia stuff"             { spawn-sh "wlr-which-key -k n"; }
    Mod+W hotkey-overlay-title="Work"                       { spawn-sh "wlr-which-key -k w"; }
    Mod+S hotkey-overlay-title="Dynamic screencasting"      { spawn-sh "wlr-which-key -k s"; }

    Mod+M hotkey-overlay-title="Mute micro" { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
}

hotkey-overlay {
    skip-at-startup
}
