spawn-sh-at-startup "noctalia -d"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "wireproxy -c .config/wireproxy/wireproxy.conf -d"


spawn-sh-at-startup "sleep 5 && firefox"
spawn-sh-at-startup "sleep 5 && Telegram"
