[Desktop Entry]
Version=1.0
Name=Firefox Gos
Exec=firefox -P gos %u
Icon=password
Terminal=false
Type=Application
StartupWMClass=firefox-gos
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
